
<!DOCTYPE html>

{%extends 'layout.html'%} <!--Para los cambios en el nav bar y etc-->
{%block content%}
<body>
<div class="container">
  <h1>Gracias, este es el cuerpo del documento</h1>

  <h2>Si todo está en orden, descarga <a href="{{url_for( 'download_file',pdf_name='poder_'+nom_apo[:4]+num_car[:-3]+'.pdf' ) }}">aquí</a> tu Poder en PDF</h2>

</div>
<div class="container">
    <br><br>
    <p><strong>Se&ntilde;or, </strong></p>
    <p style="text-align: justify;"><strong>Juez</strong></p>
    <p style="text-align: justify;"><strong>E.&nbsp;&nbsp; S.&nbsp;&nbsp;&nbsp; D.</strong></p>
    <p style="text-align: right;"><strong>REFERENCIA: </strong>{{tipo_proceso}} de</p>
    <p style="text-align: right;"><strong>{{nom_poder}}</strong> contra <strong>{{nom_contra}}</strong></p>
    <br><br>
    <p style="text-align: justify;"><strong>{{nom_poder}}</strong>, mayor de edad,
      domiciliad{{gen_poder}} en la ciudad de Bogot&aacute; D.C.,
      identificad{{gen_poder}} con {{id_poder}} No. {{ced_poder}}, y dirección
      de notificaci&oacute;n electr&oacute;nica {{email}}, por medio del presente
      escrito, otorgo PODER ESPECIAL, AMPLIO Y SUFICIENTE a <strong>{{nom_apo}}
      </strong>, mayor de edad, domiciliad{{gen_apo}} en Bogot&aacute; D.C.,
      identificad{{gen_apo}} con {{id_apo}} No. {{ced_apo}}, miembro activo del
      Consultorio Jur&iacute;dico de la Universidad Externado de Colombia,
      portador{{portadore}} del carn&eacute; No. {{num_car}}, con direcci&oacute;n
      de notificaci&oacute;n electr&oacute;nica {{email_apo}}. Con la finalidad
      de que en mi nombre y representaci&oacute;n, inicie y lleve hasta su
      terminaci&oacute;n el {{tipo_proceso}} contra <strong>
        {{nom_contra}}</strong>, mayor de edad, domiciliad{{gen_contra}} en
        Bogot&aacute; D.C., identificad{{gen_contra}} con {{id_contra}} No.
        {{ced_contra}}. {{email_2}}</p>
    <p style="text-align: justify;">Mi apoderad{{gen_apo}} queda facultad{{gen_apo}} para solicitar medidas cautelares, desistir, renunciar, sustituir, recibir, transigir, asumir el presente poder y dem&aacute;s facultades en los t&eacute;rminos del art&iacute;culo 77 del C&oacute;digo General del Proceso.</p>
    <p>S&iacute;rvase, Se&ntilde;or Juez, reconocerle personer&iacute;a jur&iacute;dica a mi apoderad{{gen_apo}}, en los t&eacute;rminos y para los efectos del presente poder.</p>
    <p>Del &nbsp;Se&ntilde;or Juez,</p>
    <p><strong>{{nom_poder}}</strong></p>
    <p>{{id_poder}} No. {{ced_poder}}</p>
    <br>
    <p>Acepto,</p>
    <p><strong>{{nom_apo}}</strong></p>
    <p>{{id_apo}} No. {{ced_apo}}</p>
    <p>Carn&eacute; Consultorio : {{num_car}}</p>
    <p>Direcci&oacute;n de notificaci&oacute;n electr&oacute;nica: {{email_apo}}</p>
</div>
</body>
{%endblock%}
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
